# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
dist/
build/
*.egg-info/


# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/
.env.*
.env

# Data
data/
*.csv
*.tsv
*.mp3
*.wav
*.gz
*.parquet
*.txt

# Model logs
lightning_logs/
*.out
wandb/
*.json
